.breach{
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content:space-around;
}
.bar{
    height: 2rem;
    background-color:lightgray;
    padding:10px 10px 10px 20px;
    font-size: .8rem;
}
.value{
    background-color: #873e23;
    color:white;
}
.title{
    width:20rem;
    background-color:lightgray;
}
