.asset_heatmap{
    background-color: #fff;
    margin-top: 20px;
}
.asset_heatmap_title{
    font-weight:700;
    font-size:1.2rem;
    padding:20px;
}
.asset_heatmap_grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap:0px;
    
}

.col{
    display:flex;
    justify-content:center;
    align-items:center;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    padding:5px;
    
}



